* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Custom Style */
.canvas-screens {
    box-shadow: 2px 2px 4px #CCC;
    margin: 15px auto;
    max-width: 960px;
    padding: 15px;
}

.screens-pager {
    margin-bottom: 15px;
}
.screens-pager ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.screens-pager ul:before,
.screens-pager ul:after {
    content: ' ';
    clear: both;
    display: table;
    width: 100%;
}
.screens-pager ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.screens-pager a {
    color: #F55;
    display: block;
    margin: 0;
    padding: 15px 30px;
    text-decoration: none;
}
.screens-pager a.active {
    border-bottom: 2px solid #F55;
}
.screens-pager a:hover {
    background-color: #F55;
    border-bottom: 2px solid #F55;
    color: #FFF;
}
.screens-pager button {
    background-color: #F55;
    border: 2px solid #F55;
    color: #FFF;
    cursor: pointer;
    display: block;
    outline: 0;
    padding: 15px 30px;
    width: 100%;
}

.screen:before,
.screen:after {
    content: ' ';
    clear: both;
    display: table;
    width: 100%;
}

.canvas {
    border-top: 2px solid #EEE;
    border-bottom: 2px solid #EEE;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    padding-bottom: calc(100% * 3/4);
}

.canvas svg {
    background-color: #EEE;
    display: block;
    height: calc(100% - 10px);
    left: 0;
    position: absolute;
    top: 5px;
    width: 100%;
}

.screen-config {
    margin-bottom: 15px;
}

.shape-config-wrapper {
    vertical-align: middle;
}

.shape-config-wrapper + .shape-config-wrapper {
    margin-top: 5px;
}

.shape-config-wrapper.active {
    border-left: 2px solid #F55;
    padding: 15px;
}

.shape-config-wrapper label {
    display: inline-block;
    position: relative;
    top: 8px;
    vertical-align: top;
}

.pick-fill-color-placeholder {
    border-radius: 30px;
    color: #FFF;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 30px;
}

.shape-config-wrapper input {
    cursor: pointer;
    display: block;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.screen-stats {
    margin: 30px 0;
}

.screen-stats label {
    clear: both;
    display: inline-block;
}

.screen-stats .number-placeholder {
    background-color: #F55;
    border-radius: 30px;
    color: #FFF;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    width: 30px;
}

.screen-stats .number-of-shapes {
    vertical-align: middle;
}

.screen-stats .used-colors {
    margin-top: 30px;
    vertical-align: middle;
}

.color-count + .color-count {
    margin-top: 5px;
}

.undo-redo-shapes:before,
.undo-redo-shapes:after {
    content: ' ';
    clear: both;
    display: table;
    width: 100%;
}

.undo-redo-shapes button {
    background-color: #F55;
    border: 2px solid #F55;
    color: #FFF;
    cursor: pointer;
    display: block;
    float: left;
    outline: 0;
    padding: 15px 30px;
    width: calc(50% - 10px);    
}

.undo-redo-shapes .redo {
    float: right;
}

.undo-redo-shapes button:disabled {
    background-color: #F99;
    border: 2px solid #F99;
    cursor: not-allowed;
}

@media (min-width: 768px) {
    .screens-pager:before,
    .screens-pager:after {
        content: ' ';
        clear: both;
        display: table;
        width: 100%;
    }
    .screens-pager nav {
        float: left;
    }
    .screens-pager button {
        float: right;
        width: auto;
    }
    .screens-pager ul li {
        width: auto;
    }

    .canvas {
        float: left;
        width: 100%;
    }

    .screen-stats {
        float: right;
        margin: 0 0 15px 0;
        width: calc(50% - 10px);
    }

    .screen-config {
        float: left;
        width: calc(50% - 10px);
    }
}